body {
    background-color: #eee;
    font-family: sans-serif;
    min-width: 1024px;
}

pre {
    background-color: lightgray;
    color: #333;
    padding: 2px 4px;
    border: thin solid lightgray;
    max-width: 900px;
    min-width: 300px;
    font-size: 0.85rem;
}

.active {
    background-color: lightblue;
}
